:root{
    --vermelho: #e50914;
    --preta: #141414;

}
/* global config */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base element */

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* logo config */
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}
/* nav config */
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 12px;
}

header nav a:hover{
    color: #fff;
}

/* main movie */

.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/la-casa-de-papel.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description{
    margin-bottom: 40px;
}

.title{
    font-size: 40px;
    margin-right: 12px;
}

.description{
    font-size: 15px;
    margin-right: 12px;
}

.buttones .button  a{
    text-decoration: none;
}