:root{
    --vermelho: #e50914;
    --preta: #141414;

}
/* global config */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base element */

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* logo config */
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}
/* nav config */
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 12px;
}

header nav a:hover{
    color: #fff;
}

/* main movie */

.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/la-casa-de-papel.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description{
    margin-bottom: 40px;
    
}

.title{
    font-size: 40px;
    margin-right: 12px;
    font-family: Verdana, Tahoma, sans-serif;
}

.maturity{
    border: 1px solid #a1a1a1;
    padding: 0px 5px;
}

.description{
    font-size: 15px;
    margin-right: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 40px;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease all;
}

button:hover{
    background-color: var(--vermelho);
    color: var(--preta);
}

.button i{
    padding-right: 15px;
    
}

.main-movie .container{
    width: 60%;
}

.movie-box{
    margin:15px auto;
    height: 100%;
    width: 100%;
    display: block;
    transition: transform .2s;
}

.movie-box:hover{
    
    transform: scale(0.89);
}

.carrosel{
    
    margin-top: 10px;
}

.carrosel span{
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.trend{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('img/series/kirito.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
}

.poster{
    align-items: flex-start;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 18px;
    margin-right: 15px;
    margin-left: 15px;
}



.header_poster .title{
    font-size: 25px;
    margin-top: 50px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    
}

.overview{
    margin-top: 15px;
}

.overview p{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    width: 75%;
}

.title span{
    font-size: 15px;
    padding: 3px;
}

.sao{
    color: white;
    text-decoration: none;
}
