<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">

    <!-- owl css -->
    <link rel="stylesheet" href="owl/owl.carousel.min.css">
    <link rel="stylesheet" href="owl/owl.theme.default.min.css">
    <!-- owl css -->

    <title>MovieAnyWhere!</title>
</head>
<body>
    <header>
        <div class="container">
             <h2 class="logo">MoviesAW</h2>
                 <nav>
                    <a href="/">Inicio</a>
                      <a href="/series">Series</a>
                       <a href="/filmes">Filmes</a>
                          <a href="/documentarios">Documentarios</a>
                        </nav>
        </div>
    </header>
    
    <main>
        <div class="main-movie">
        <div class="container">
            <h3 class="title">LA CASA DE PAPEL</h3>
            <span>2017 |   </span><span class="maturity">16 </span> <span> | 5 temporadas</span> <span>| Séries policiais</span>
            <p class="description">Oito ladrões se trancam com reféns na Casa da Moeda da Espanha. Seu líder manipula a polícia para realizar um plano. Será o maior roubo da história, ou uma missão em vão?</p>
            <div class="buttones">
                <a href="https://www.netflix.com/br/title/80192098" target="_blank">
                 <button role="button" class="button">
                  <i class="fas fa-play"></i>
                    ASSISTIR AGORA
                </button></a>
            
            <a href="/sobre">
                <button role="button" class="button">
                    <i class="fas fa-question-circle"></i>
                    MAIS INFORMAÇÕES
                </button></a>
            </div>
        </div>
        </div>
    </main>


    <div class="carrosel">
        <span>POPULARES</span>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img class="movie-box" src="img/the-grey.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/venom.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/the-grey.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/law-order.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/min2.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/min3.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/greys.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/familia-addams.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/ainbo.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/min4.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/papelMin.jpg">
            </div>
        </div>
    </div>
        
</body>
<!-- owl js -->
<script src="js/owl/jquery.min.js"></script>
<script src="js/owl/owl.carousel.min.js"></script>
<!-- owl js -->

<!-- setup.js -->
<script src="js/owl/setup.js"></script>
<!-- setup.js -->

<script src="https://kit.fontawesome.com/02e8134849.js" crossorigin="anonymous"></script>
</html>