<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="responsive.css">

<!-- owl css -->
<link rel="stylesheet" href="owl/owl.carousel.min.css">
<link rel="stylesheet" href="owl/owl.theme.default.min.css">
<!-- owl css -->

<body>
    <header>
        <div class="container">
            <h2 class="logo">MovieAW</h2>
            <nav>
                <a href="/">Voltar</a>
                <a href="/sobre">Mais Informações</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="trend">
            <div class="image_content">
                <img class="poster" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/Alntdcf829Cv115No44KOJb23IA.jpg" alt="">
            </div>
            <div class="header_poster">
               <section>
                    <div class="title">
                        <h2>
                            Sword Art Online
                            <span>(2017)</span>
                        </h2>
                        <span>2012</span><span class="pipe">| </span><span class="maturity">16</span><span class="pipe">|</span><span>3 temporadas  |</span><a href="#" class="sao"><span>Animes de ficção científica e fantasia</span></a>
                    </div>
                    <div class="overview">
                        <h3>Sinopse</h3>
                    </div>
                    <div class="overview">
                        <p>Em 2026, 4 anos após o infame incidente de Sword Art Online, uma nova forma de tecnologia emergiu: o Augma, um dispositivo que utiliza um sistema de Realidade Aumentada. Diferente da Realidade Virtual do NerveGear e do Amusphere, é perfeitamente seguro e permite aos jogadores à usarem enquanto estão conscientes, gerando um grande hit no mercado. A aplicação mais popular do Augma é o jogo Ordinal Scale, que emerge os jogadores em um RPG de fantasia com rankings e recompensas. Seguindo a nova mania, os amigos de Kirito mergulham no jogo e, apesar de seus receios sobre o sistema, Kirito eventualmente se junta à eles. Enquanto parece ser algo apenas para diversão e jogos à princípio, eles logo descobrem que o jogo não é tudo o que parece...</p>
                    </div>
                   
               </section>
               <div class="buttones">
                   <a href="https://www.netflix.com/br/title/70302573" target="_blank"><button class="button">ASSISTIR AGORA</button></a>
                   <button class="button">+ MINHA LISTA </button>
               </div>
            </div>
        </div>
    </main>
    <div class="carrosel">
        <span>EM ALTA</span>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img class="movie-box" src="img/the-grey.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/venom.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/the-grey.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/law-order.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/min2.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/min3.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/greys.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/familia-addams.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/ainbo.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/min4.jpg">
            </div>
            <div class="item">
                <img class="movie-box" src="img/papelMin.jpg">
            </div>
        </div>
    </div>
</body>
<script src="js/owl/jquery.min.js"></script>
<script src="js/owl/owl.carousel.min.js"></script>
<!-- owl js -->

<!-- setup.js -->
<script src="js/owl/setup.js"></script>
<!-- setup.js -->

